server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      mixer: true
      http: true
      local: false
    filters:
      volume: true
      equalizer: true
      karaoke: true
      tremolo: true
      vibrato: true
      distortion: true
      rotation: true
      channelMix: true
      lowPass: true
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    opusEncodingQuality: 10
    resamplingQuality: LOW
    trackStuckThresholdMs: 10000
    useSeekGhosting: true
    youtubePlaylistLoadLimit: 6
    playerUpdateInterval: 5
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true
    # ratelimit:
    #   ipBlocks: ["1.0.0.0/8", "..."] # list of ip blocks
    #   excludedIps: ["...", "..."] # ips which should be explicitely excluded from usage by lavalink
    #   strategy: "RotateOnBan" # RotateOnBan, LoadBalance, NanoSwitch, RotatingNanoSwitch
    #   searchTriggersFail: true # Whether a search 429 should trigger marking the ip as failing
    #   retryLimit: -1 # -1 = use default lavaplayer value | 0 = infinity | >0 = retry will happen this numbers times

logging:
  level:
    root: INFO
    lavalink: INFO
  file:
    path: ./logs/
  logback:
    rollingpolicy:
      max-file-size: 1GB
      max-history: 30

metrics:
  prometheus:
    enabled: false
    endpoint: /metrics

sentry:
  dsn: ""

# lavalink-plugin
# See https://github.com/lavalink-devs/lavalink-plugin for a list of plugins
# plugins:
#   - dependency: "com.github.FredBoat:Lavalink-Plugin:4.0.1"
#     repository: "https://m2.fredboat.com/releases"
